@blue: #208ac9;
@green: #17a589;
@red: #c0392b;
@pink: #F62459;
@color-primary: #1F4788;
@color-primary-dark: #003171;
*:not(i) {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
body, html {
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  vertical-align: top;
  overflow-x: hidden;
  height: 100%;
}
body.menu-open {
  padding: 45px 0 0 0;
  .content {
    .container {
      top:100px;
    }
  }
  nav.navbar {
    #main-nav {
      margin-top: 0px;
      opacity: 1;
    }
    .nav {
      li {
        ul.subnav.open {
          margin-top: 0px;
        }
      }
    }
  }

}


a:not(.btn), a:not(.btn):visited, a:not(.btn):active {
  text-decoration: none;
}

nav.navbar {
  background: #17a589;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  #menu-icon {
    float: left;
    color: #fff;
    padding: 11px 12px 10px 12px;
    font-size: 19px;
    margin-right: -6px;
  }
  #menu-icon:hover {
    cursor: pointer;
    color: rgba(0,0,0,0.6);
  }
  .logo {
    background: #208ac9;
    width: 160px;
    height: 40px;
    text-align: center;
    float: left;
  }
  #main-nav {
    margin-top: -5px;
    opacity: 0;
    transition: all 200ms ease;
  }
  .nav {
    float: left;
    list-style: none;
    margin: 0 0 0 7px;
    padding: 0;
    li {
      float: left;
      margin-top: 5px;
      a:not(.btn) {
        color: #fff;
        padding: 8px 15px 0;
        display: block;
        height: 30px;
        i {
          margin-right: 6px;
        }
      }
      a:not(.btn):hover, a:not(.btn):focus {
        background: #eee;
        height: 35px;
        color: #000;
      }
      ul.subnav.open {
        //display: block;
        opacity:1;
        margin-left: 0px;
        left: 0;
        pointer-events: auto;
        box-shadow: 0 4px 5px rgba(0,0,0,0.1);
        margin-top: 5px;



    }
      ul.subnav {
        position: fixed;
        left: 30px;
        top: 40px;
        right: 0;
        background: #fff;
        height: 40px;
        margin: 0;
        padding: 0;
        list-style: none;
        pointer-events: none;
        opacity:0;
        transition: all 200ms ease;
        li {
          a:not(.btn) {
            padding: 3px 15px 0;
            display: block;
            height: 20px;
            font-weight: 400;
            margin-top: 5px;
            i {
              margin-right: 6px;
            }
          }

        }
        li:not(.active) {

          a:not(.btn):hover, a:not(.btn):focus {
            color: #208ac9;
          }
        }
        li:not(:first-child):not(.nav-extra) a {
          border-left: 1px solid rgba(0, 0, 0, 0.2);
        }
        li.active {
          a:not(.btn) {
            color:@pink;
          }

        }
        li.nav-extra {
          float: right;
          margin-right: 10px;
        }

      }
    }
    li:not(:last-child) a:not(.btn) {
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
    li.active {
      a:not(.btn) {
        color: #000;
        background: #fff;
        height: 35px;
      }

    }
  }
  .nav-right {
    float: right;
    list-style: none;
    padding:0;
    margin:0;
    li {
      display: inline-table;
      a:not(.btn) {
        color: #fff;
        font-size: 22px !important;
        margin-right: 12px;
      }
      a:not(.btn):hover, a:not(.btn):focus {
        color: rgba(0,0,0,0.6);
      }
      div.user-icon {
        background: #208ac9;
        border-radius: 32px;
        width: 32px;
        height: 32px;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color:#fff;
        border:2px solid #fff;
        margin-right:10px;
        font-weight: 700;
      }
      div.user-icon:hover {
        cursor: pointer;
        background: rgba(0,0,0,0.6);
      }
    }
    li.notifications {
      margin: 5px 18px 0 18px;
    }
  }
}
.jq-dropdown {
  .jq-dropdown-menu {
    i {
      margin-right: 6px;
      width: 20px;
      text-align: center;
    }
    label, li > a {
      line-height: 24px;
      padding: 3px 15px;
    }
    .icheckbox_flat-green {
      margin:3px 10px 3px 0;
    }
  }

}
.content {
  margin: 0 5px;
  position: relative;
  .container {
    display: block;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #e7e7e7;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    padding: 15px;
    min-height: 300px;
    transition: all 400ms ease;
    position: fixed;
    margin: 0;
    bottom:20px;
    top:55px;
  }
}

.content.one {
  #main-container {
    left: 20px;
    right: 20px;
  }
  #second-container {
    opacity: 0;
    left: calc(100% + 10px);
    right: -200px;
  }
  #third-container {
    opacity: 0;
    left: calc(100% + 10px);
    right: -100px;
  }
}

.content.two {
  #main-container {
    left: 10px;
    right: 35%;
    margin-right: 5px;
  }
  #second-container {
    left: 65%;
    right: 10px;
    margin-left: 5px;
  }
  #third-container {
    left: calc(100% + 10px);
    right: -100px;
    opacity:0;
  }
}

.content.three {

  #main-container {
    left: 10px;
    right: 44%;
    margin-right: 5px;
  }
  #second-container {
    left: 56%;
    right: 16%;
    margin:0 5px;
  }
  #third-container {
    left: 84%;
    right: 10px;
    margin-left: 5px;
  }
}

/*
 * --------------------------------
 * BEGIN buttons
 */
.btn {
  display: block;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  i {
    margin-right: 6px;
  }
}
.btn.btn-primary {
  background: @color-primary;
  color:#fff;
}
.btn.btn-primary:active,.btn.btn-primary:hover,.btn.btn-primary:focus {
  background: @color-primary-dark;
  color:#fff;
}
/*
 * END buttons
 * --------------------------------
 */