/*
    Document   : login.css
    Created on : 31/05/2013, 15:17
    Author     : Helio Bentes
    Description:
        Folha de estilos do login.
*/
@font-face {
    font-family: 'Century Gothic';
    src: local('Century Gothic'), url('css/fonts/CenturyGothic.ttf') format('ttf'), url('css/fonts/CenturyGothic.woff') format('woff'), url('css/fonts/CenturyGothic.svg') format('svg'), url('css/fonts/CenturyGothic.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #2c3b57;
    font-family: 'Century Gothic', cursive;
    font-size: 100%;
    min-width: 960px;
    color: #545454;
}

input, select {
    font-family: 'Century Gothic', cursive;
}

#top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: #efefef;
    border-top: 4px solid #1298BA;
    z-index: 5;
    box-shadow: 0px 0px 20px #2c3b57, 0px 0px 10px #2c3b57;
}

#logoSistema {
    float: left;
    margin-left: 5px;
    width: 100px;
    height: 30px;
    margin-top: 5px;
    background: url('img/logo.png') center no-repeat;
}

.menu {
    position: absolute;
    right: 110px;
    line-height: 40px;
}

.menu a {
    color: #1298BA;
    text-decoration: none;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
}

.menu a:hover {
    text-decoration: underline;
}

#content {
    position: absolute;
    width: 960px;
    left: 50%;
    margin-left: -480px;
    top: 70px;
    background: #fff;
}

#news {
    position: relative;
    display: inline-block;
    width: 580px;
    margin: 10px;
}

#formLogin {
    position: relative;
    display: inline-block;
    background: #f7f7f7;
    width: 290px;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
}

#msgLogin {
    font-size: 14px;
    color: #900;
    text-align: center;
    margin-bottom: 20px;
}

input {
    height: 25px;
    border: 1px solid #bbb;
    width: 100%;
    min-width: 70px;
    outline-color: #1298BA;
    padding: 0 5px;
    font-size: 13px;
    box-sizing: border-box;
    color: #555;
    margin-bottom: 15px;
    margin-top: 3px;
}

label {
    position: relative;
    font-size: 14px;
    font-weight: bold;
}

#buttonLogin {
    position: relative;
    height: 28px;
    margin: 3px;
    border: 1px solid #1298BA;
    border-radius: 3px;
    background: #1298BA;
    color: #fff;
    padding: 0 8px;
    font-size: 15px;
    line-height: 28px;
    cursor: pointer;
    text-align: center;
    width: 80px;
}

#buttonLogin:hover {
    background: #1188b0;
}

#buttonLogin:active {
    box-shadow: inset 0px 0px 10px #006699;
}

#buttonCadastrar {
    float: right;
    height: 28px;
    margin: 5px;
    border: 1px solid #1298BA;
    border-radius: 3px;
    background: #1298BA;
    color: #fff;
    padding: 0 8px;
    font-size: 15px;
    line-height: 28px;
    cursor: pointer;
    text-align: center;
    width: auto;

}

#buttonCadastrar:hover {
    background: #1188b0;
}

#buttonCadastrar:active {
    box-shadow: inset 0px 0px 10px #006699;
}

#dicaLogin {
    margin-top: 20px;
    font-size: 14px;
    color: #1298BA;
    cursor: pointer;
}

#dicaLogin:hover {
    text-decoration: underline;
}

#loader {
    position: absolute;
    background: #fff;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    color: #1298BA;
    display: none;
}

#loader img {
    position: relative;
    margin: 60px 0 30px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    color: #1298BA;
}

h3 span {
    font-size: 12px;
    color: #999;
    line-height: 35px;
}

#sliderCorrespondentesValor, #sliderUsuariosValor {
    font-size: 14px;
    color: #1298BA;
}

#sliderCorrespondentes, #sliderUsuarios {
    width: 500px;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

#notChrome {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    background: rgba(255, 255, 255, 0.98);
    z-index: 999999999;
    display: none;
}

#notChrome .chromeIcon {
    position: absolute;
    top: 20px;
    left: 50%;
    height: 200px;
    width: 200px;
    margin-left: -100px;
    background: url('img/chromeIcon.png') center no-repeat;
}

#notChrome .text {
    text-align: center;
    font-size: 40px;
    color: #1298BA;
    position: absolute;
    top: 230px;
    left: 50%;
    width: 250px;
    margin-left: -125px;
}

#notChrome .subText {
    text-align: center;
    font-size: 20px;
    color: #666;
    font-weight: bold;
    position: absolute;
    top: 290px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
}

.installChrome {
    position: absolute;
    height: 32px;
    border: 1px solid #1298BA;
    border-radius: 3px;
    background: #1298BA;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;
    text-align: center;
    width: 260px;
    top: 370px;
    left: 50%;
    margin-left: -130px;
}

.installChrome:hover {
    background: #1188b0;
}

.installChrome:active {
    box-shadow: inset 0px 0px 10px #006699;
}